<div class="background">
  <div class="login-screen">
    <div class="img-background text-center mb-4">
      <img src="assets/logo.png" />
    </div>
    <div class="body-background">
      <h1 class="mb-4 blue">Iniciar sesión</h1>
      <form [formGroup]="form" (ngSubmit)="login()">
        <mat-form-field class="w-100 mb-1" appearance="fill">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="nombreUsuario" placeholder="Ingrese usuario" type="text" autocapitalize="none">
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="form.get('nombreUsuario').hasError('required')">Usuario es requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100 mb-3" appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="clave" [type]="hide ? 'password' : 'text'" placeholder="Ingrese contraseña">
          <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('clave').hasError('required')">Contraseña es requerida</mat-error>
        </mat-form-field>
        <div class="text-center">
          <button mat-raised-button color="primary" class="w-100" type="submit">Iniciar sesión</button>
          <button mat-button color="primary" (click)="openForm()" class="mt-2" type="button">Crear cuenta</button> 
        </div>
        <div class="mt-3">
          <mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="accent"></mat-progress-bar>
        </div>
      </form>
    </div>
  </div>
</div>