<div class="center">
  <div class="container shadow">
    <div class="d-flex pt-5 p-3">
      <h1 class="blue">Menú Principal</h1>
      <div class="ml-auto right">
        <b>Usuario</b>
        <p>{{ auth.nombres }}</p>
      </div>
    </div>
    <h2 class="blue text-center">Transmisiones Automáticas Chabeli</h2>
    <div class="row">
      <div *ngFor="let modulo of modulos" class="col-6 col-md-4 col-lg-2">
        <div class="parent shadow m-3">
          <div class="sparent m-3 cursor-point" (click)="modulo.checked=true; navigate(modulo)">
            <div class="img-container">
              <div class="images">
                <div class="front"><img [src]="'assets/' + modulo.imagen" /></div>
                <div class="back"><img src="assets/siguiente.png" /></div>
              </div>
              <a mat-raised-button color="primary">{{ modulo.descripcion }}</a>
              <mat-progress-bar *ngIf="modulo.checked" mode="indeterminate" color="accent"></mat-progress-bar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>