<div class="center">
  <div class="container shadow">
    <div class="d-flex pt-5 p-3">
      <h1 class="blue">Menú Principal</h1>
      <div class="ml-auto right">
        <b>Bienvenido(a):</b>
        <p>{{ auth.nombres }}</p>
      </div>
    </div>
    <h2 class="blue mt-3 text-center">Transmisiones Automáticas Chabeli</h2>
    <div class="principal">
      <div *ngFor="let modulo of modulos" class="parent shadow m-3">
        <div class="sparent m-3 cursor-point" (click)="modulo.checked=true; navigate(modulo.ruta)">
          <div class="img-container">
            <div class="images">
              <div class="front"><img [src]="'assets/' + modulo.imagen" /></div>
              <div class="back"><img src="assets/siguiente.png" /></div>
            </div>
            <a mat-raised-button color="primary">{{ modulo.descripcion }}</a>
            <mat-progress-bar *ngIf="modulo.checked" mode="indeterminate" color="accent"></mat-progress-bar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-none">
  <div>Icons made by <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  <div>Icons made by <a href="" title="bqlqn">bqlqn</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  <div>Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  <div>Icons made by <a href="https://www.flaticon.com/authors/xnimrodx" title="xnimrodx">xnimrodx</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  <div>Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  <div>Icons made by <a href="https://www.flaticon.com/authors/darius-dan" title="Darius Dan">Darius Dan</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>