<div class="principal-container es-mobile">
  <mat-toolbar color="primary" class="principal-toolbar">
    <div class="w-100 d-flex">
      <ng-container *ngIf="!isMobile || !visible">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 (click)="principal()" class="cursor-point mr-auto">{{ menuBar.title }}</h1>
      </ng-container>
      <input *ngIf="visible" #data (keyup.enter)="search(data.value)" [class.wnormal]="!isMobile && visible" class="input-search"
        [class.wmobile]="isMobile && visible" placeholder="Buscar en inventario" type="text" />
      <a mat-icon-button (click)="requestFocus()" class="not-hover"><mat-icon>search</mat-icon></a>
      <a *ngIf="menuBar.filterEvent" mat-icon-button (click)="menuBar.filterEvent()" class="not-hover"><mat-icon>filter_list</mat-icon></a>
      <a mat-icon-button [matMenuTriggerFor]="menu" class="not-hover"><mat-icon>more_vert</mat-icon></a>
      <mat-menu #menu="matMenu">
        <a mat-menu-item [matMenuTriggerFor]="nuevo">
          <mat-icon>add_circle_outline</mat-icon><span>Nuevo</span></a>
        <a mat-menu-item [matMenuTriggerFor]="inventario">
          <mat-icon>apps</mat-icon><span>Ver</span></a>
        <a mat-menu-item (click)="navigate('/principal')">
          <mat-icon>home</mat-icon><span>Menú Principal</span></a>
        <a mat-menu-item (click)="navigate('/principal/cuenta')">
          <mat-icon>account_circle</mat-icon><span>Perfil de usuario</span></a>
        <a mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon><span>Cerrar sesión</span></a>
      </mat-menu>
      <mat-menu #nuevo="matMenu">
        <a mat-menu-item (click)="navigate('/principal/compras/compra')">
          <mat-icon>add_circle</mat-icon><span>Nueva Compra</span></a>
        <a mat-menu-item (click)="navigate('/principal/ventas/venta')">
          <mat-icon>add_circle</mat-icon><span>Nueva Venta</span></a>
      </mat-menu>
      <mat-menu #inventario="matMenu">
        <a mat-menu-item (click)="navigate('/principal/compras')">
          <mat-icon>shopping_cart</mat-icon><span>Compras</span></a>
        <a mat-menu-item (click)="navigate('/principal/ventas')">
          <mat-icon>point_of_sale</mat-icon><span>Ventas</span></a>
        <mat-divider></mat-divider>
        <a mat-menu-item (click)="navigate('/principal/categorias')">
          <mat-icon>category</mat-icon><span>Categorías</span></a>
        <a mat-menu-item (click)="navigate('/principal/marcas')">
          <mat-icon>local_offer</mat-icon><span>Marcas</span></a>
        <a mat-menu-item (click)="navigate('/principal/repuestos')">
          <mat-icon>directions_car</mat-icon><span>Repuestos</span></a>
        <mat-divider></mat-divider>
        <a mat-menu-item (click)="navigate('/principal/clientes')">
          <mat-icon>people</mat-icon><span>Clientes</span></a>
        <a mat-menu-item (click)="navigate('/principal/proveedores')">
          <mat-icon>local_shipping</mat-icon><span>Proveedores</span></a>
      </mat-menu>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="principal-sidenav">
    <mat-sidenav #snav mode="over" [opened]="false" [fixedInViewport]="true" [autoFocus]="false" fixedTopGap="56">
      <app-sidenav (closeSidenav)="snav.toggle()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>