<div class="principal-container es-mobile">
  <mat-toolbar color="primary" class="principal-toolbar">
    <div class="w-100 d-flex">
      <ng-container *ngIf="!isMobile || !visible">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 (click)="principal()" class="cursor-point mr-auto">{{ menuBar.title }}</h1>
      </ng-container>
      <input *ngIf="visible" #input (keyup.enter)="search(input.value)" placeholder="Ingrese código o modelo" type="text" class="input-search" 
        [class.wmobile]="isMobile && visible"/>
      <a mat-icon-button (click)="visible=!visible" class="not-hover"><mat-icon>search</mat-icon></a>
      <a *ngIf="menuBar.filterEvent" mat-icon-button (click)="menuBar.filterEvent()" class="not-hover"><mat-icon>filter_list</mat-icon></a>
      <a mat-icon-button [matMenuTriggerFor]="menu" class="not-hover"><mat-icon>more_vert</mat-icon></a>
      <mat-menu #menu="matMenu">
        <a mat-menu-item [matMenuTriggerFor]="nuevo">
          <mat-icon>add_circle_outline</mat-icon><span>Nuevo</span></a>
        <a mat-menu-item [matMenuTriggerFor]="ver">
          <mat-icon>apps</mat-icon><span>Ver</span></a>
        <a mat-menu-item (click)="navigate('/principal/cuenta')">
          <mat-icon>account_circle</mat-icon><span>Cuenta</span></a>
        <a *ngIf="menuBar.printEvent" mat-menu-item (click)="menuBar.printEvent()">
          <mat-icon>print</mat-icon><span>Imprimir</span></a>
        <a mat-menu-item (click)="navigate('/principal/sistema')">
          <mat-icon>settings_applications</mat-icon><span>Sistema</span></a>
        <a mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon><span>Cerrar sesión</span></a>
      </mat-menu>
      <mat-menu #nuevo="matMenu">
        <a mat-menu-item (click)="navigate('/principal/compras/compra')">
          <mat-icon>add_circle</mat-icon><span>Nueva Compra</span></a>
        <a mat-menu-item (click)="navigate('/principal/ventas/venta')">
          <mat-icon>add_circle</mat-icon><span>Nueva Venta</span></a>
      </mat-menu>
      <mat-menu #ver="matMenu">
        <ng-container *ngFor="let menuItem of menuItems">
          <a mat-menu-item *ngIf="menuItem.nombre != 'divider'; else elseBlock" (click)="navigate(menuItem.url)">
            <mat-icon>arrow_right</mat-icon><span>{{ menuItem.nombre }}</span></a>
          <ng-template #elseBlock>
            <mat-divider></mat-divider>
          </ng-template>
        </ng-container>
      </mat-menu>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="principal-sidenav">
    <mat-sidenav #snav mode="over" [opened]="false" [fixedInViewport]="true" fixedTopGap="56">
      <app-sidenav (closeSidenav)="snav.toggle()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>