<div class="container mt-4">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label><mat-icon>insert_chart</mat-icon>Reporte</ng-template>
      <div class="shadow m-3 p-3">
        <mat-spinner *ngIf="isLoading" color="accent" mode="indeterminate" class="m0-auto"></mat-spinner>
        <div class="container-fluid" [class.d-none]="isLoading">
          <div class="row justify-content-center">
            <div class="col-xs-8 col-md-7 col-xl-6 col-xxl-4">
              <div class="shadow-chart p-2 d-flex justify-content-center h-100"> 
                <div class="text-center">
                  <h4>Total unidades vendidas y compradas</h4>
                  <p><span class="blue">{{ totalVendido }}</span>&nbsp;/&nbsp;<span class="text-danger">{{ totalComprado}}</span></p>
                </div>
              </div>
            </div>
            <div *ngFor="let myChart of myCharts" class="col-xs-8 col-md-7 col-xl-6 col-xxl-4">
              <div class="shadow-chart p-2">
                <app-reporte-chart [myChart]="myChart"></app-reporte-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label><mat-icon>settings</mat-icon>Personalizado</ng-template>
      <div class="shadow m-3 p-3">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-8">
              <div class="shadow-chart p-2">
                <div class="d-flex margin">
                  <mat-form-field appearance="fill">
                    <mat-label>Tipo</mat-label>
                    <mat-select #tipo>
                      <mat-option>--</mat-option>
                      <mat-option value="compras">Compras</mat-option>
                      <mat-option value="ventas">Ventas</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Ingrese un rango de fechas</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate placeholder="Fecha Inicio" #date1/>
                      <input matEndDate placeholder="Fecha Fin" #date2/>
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Agrupar por</mat-label>
                    <mat-select #groupby>
                      <mat-option>--</mat-option>
                      <mat-option value="w">Semanas</mat-option>
                      <mat-option value="M">Meses</mat-option>
                      <mat-option value="Y">Años</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <button mat-raised-button color="primary" (click)="updateChartBusqueda(tipo.value, date1.value, date2.value, groupby.value)">Generar</button>
              </div>
            </div>
          </div>
          <div *ngIf="chartBusqueda" class="row justify-content-center">
            <div class="col-8">
              <div class="shadow-chart p-2">
                <app-reporte-chart [myChart]="chartBusqueda"></app-reporte-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>