<div class="container mt-4 position-relative">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>category</mat-icon>
        Categorías
      </ng-template>
      <canvas #categorias></canvas>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>local_offer</mat-icon>
        Marcas
      </ng-template>
      <canvas #marcas></canvas>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>settings</mat-icon>
        Personalizado
      </ng-template>
      Proximamente
    </mat-tab>
  </mat-tab-group>
</div>