<div class="container mt-4 position-relative">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>category</mat-icon>
        Categorías
      </ng-template>
      <div class="m0-auto shadow mt-3 mb-3 p-3" [class.w-75]="!isMobile">
        <canvas #categorias></canvas>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>local_offer</mat-icon>
        Marcas
      </ng-template>
      <div class="m0-auto shadow mt-3 mb-3 p-3" [class.w-75]="!isMobile">
        <canvas #marcas></canvas>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>settings</mat-icon>
        Personalizado
      </ng-template>
      Proximamente
    </mat-tab>
  </mat-tab-group>
</div>