<form [formGroup]="form" (ngSubmit)="guardar()">
  <h2 mat-dialog-title class="text-center blue">{{ repuesto ? 'Modificar' : 'Agregar un' }}&nbsp;repuesto</h2>
  <mat-dialog-content class="mat-typography">
    <div class="m0-auto" [style.width]="isMobile ? '250px' : '325px'">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Código</mat-label>
        <input matInput formControlName="codigo" placeholder="Ingrese código del repuesto" required />
        <button matSuffix mat-icon-button color="primary" (click)="buscar()" type="button">
          <mat-icon>find_replace</mat-icon></button>
      </mat-form-field>
      <ul class="list-unstyled">
        <li class="d-flex"><span class="bold">Código</span>
          <span class="ml-auto">{{ repuesto?.codigo ? repuesto.codigo : 'Vacío' }}</span></li>
        <li class="d-flex"><span class="bold">Categoría</span>
          <span class="ml-auto">{{ repuesto?.categoria ? repuesto.categoria.descripcion : 'Vacío' }}</span></li>
        <li class="d-flex"><span class="bold">Marca</span>
          <span class="ml-auto">{{ repuesto?.marca ? repuesto.marca.descripcion : 'Vacío' }}</span></li>
        <li class="d-flex"><span class="bold">Modelo</span>
          <span class="ml-auto">{{ repuesto?.modelo ? repuesto.modelo : 'Vacío' }}</span></li>
        <li class="d-flex"><span class="bold">Año</span>
          <span class="ml-auto">{{ repuesto?.epoca ? repuesto.epoca : 'Vacío' }}</span></li>
        <li class="d-flex"><span class="bold">Precio</span>
          <span class="ml-auto">{{ repuesto?.precio ? repuesto.precio : 'Vacío' }}</span></li>
      </ul>
      <div *ngIf="repuesto">
        <mat-form-field class="w48 no-error mr4" appearance="outline">
          <mat-label>Cantidad</mat-label>
          <input matInput formControlName="cantidad" placeholder="Ingrese cantidad" type="number" />
        </mat-form-field>
        <mat-form-field class="w48 no-error" appearance="outline">
          <mat-label>Precio</mat-label>
          <input matInput formControlName="precio" placeholder="Ingrese precio" type="number" />
        </mat-form-field>
        <mat-form-field class="w-100 no-error" appearance="outline">
          <mat-label>Notas</mat-label>
          <textarea matInput formControlName="notas" placeholder="Ingrese notas"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-around">
    <button mat-raised-button mat-dialog-close type="button">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">{{ repuesto ? 'Modificar' : 'Agregar' }}</button>
  </mat-dialog-actions>
</form>