<form [formGroup]="form" (ngSubmit)="guardar()">
  <h1 mat-dialog-title class="text-center blue">{{ !marca ? 'Nueva Marca' : 'Modificar Marca' }}</h1>
  <mat-dialog-content class="mat-typography">
    <div class="m0-auto" [style.width]="isMobile ? '250px' : '325px'">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Ingrese marca</mat-label>
        <input matInput formControlName="descripcion" type="text" required />
        <mat-icon matSuffix>local_offer</mat-icon>
        <mat-error *ngIf="form.get('descripcion').hasError('required')">Descripción es requerida</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-around">
    <button mat-raised-button mat-dialog-close type="button">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </mat-dialog-actions>
</form>