<form [formGroup]="form" (ngSubmit)="guardar()" autocomplete="off">
  <h2 mat-dialog-title class="text-center blue">Opciones de impresión</h2>
  <mat-dialog-content class="mat-typography">
    <div class="checks m0-auto p-2" [style.width]="isMobile ? '250px' : '325px'">
      <mat-checkbox formControlName="isHeader">Contiene encabezados</mat-checkbox>
      <mat-checkbox formControlName="isPrice">Contiene precios</mat-checkbox>
      <mat-checkbox formControlName="isDescription">Contiene Descripción</mat-checkbox>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-around">
    <button mat-raised-button mat-dialog-close type="button">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">Imprimir</button>
  </mat-dialog-actions>
</form>