<mat-spinner *ngIf="!form; else elseBlock" color="accent" mode="indeterminate" class="m0-auto"></mat-spinner>
<ng-template #elseBlock>
  <form [formGroup]="form" (ngSubmit)="guardar()">
    <h2 mat-dialog-title class="text-center blue">{{ !repuesto ? 'Nuevo Repuesto' : 'Modificar Repuesto' }}</h2>
    <mat-dialog-content class="mat-typography">
      <div class="m0-auto" [style.width]="isMobile ? '250px' : '325px'">
        <fieldset class="mb-2">
          <legend class="mb-3 blue">General</legend>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Código</mat-label>
            <input matInput formControlName="codigo" placeholder="Ingrese un codigo" type="text" required />
            <mat-icon matSuffix>pin</mat-icon>
            <mat-error *ngIf="form.get('codigo').hasError('required')">Código requerido</mat-error>
          </mat-form-field>
          <ng-container formGroupName="categoria">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Categoría</mat-label>
              <mat-select formControlName="id" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.descripcion }}</mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('categoria').get('id').hasError('required')">Escoja una categoría</mat-error>
            </mat-form-field>
          </ng-container>
          <ng-container formGroupName="marca">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Marca</mat-label>
              <mat-select formControlName="id" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let marca of marcas" [value]="marca.id">{{ marca.descripcion }}</mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('marca').get('id').hasError('required')">Escoja una marca</mat-error>
            </mat-form-field>
          </ng-container>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Modelo</mat-label>
            <input matInput formControlName="modelo" placeholder="Ingrese un modelo" type="text" required />
            <mat-icon matSuffix>directions_car</mat-icon>
            <mat-error *ngIf="form.get('modelo').hasError('required')">Modelo requerido</mat-error>
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Stock</mat-label>
            <input matInput formControlName="stock" placeholder="Ingrese un stock" type="number" required />
            <mat-icon matSuffix>inventory</mat-icon>
            <mat-error *ngIf="form.get('stock').hasError('required')">Stock requerida</mat-error>
            <mat-error *ngIf="form.get('stock').hasError('pattern')">Stock debe ser un número entero</mat-error>
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Precio de Venta</mat-label>
            <input matInput formControlName="precio" placeholder="Ingrese un precio" type="number" required />
            <mat-icon matSuffix>monetization_on</mat-icon>          
            <mat-error *ngIf="form.get('precio').hasError('required')">Precio requerido</mat-error>
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Año</mat-label>
            <input matInput formControlName="epoca" placeholder="Ingrese un año" type="text" />
            <mat-icon matSuffix>date_range</mat-icon>
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Submarca</mat-label>
            <input matInput formControlName="subMarca" placeholder="Ingrese una submarca" type="text" />
            <mat-icon matSuffix>local_offer</mat-icon>
          </mat-form-field>
        </fieldset>  
        <fieldset class="mt-3 mb-2">
          <legend class="mb-3 blue">Detalles del repuesto</legend>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="descripcion" placeholder="Ingrese una descripcion" class="h160"></textarea>
          </mat-form-field>
        </fieldset>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions class="d-flex justify-content-around">
      <button mat-raised-button mat-dialog-close type="button">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-dialog-actions>
  </form>
</ng-template>