<form *ngIf="form" [formGroup]="form" (ngSubmit)="guardar()">
  <h2 mat-dialog-title class="text-center blue">{{ !repuesto ? 'Nuevo Repuesto' : 'Modificar Repuesto' }}</h2>
  <mat-dialog-content class="mat-typography">
    <div class="m0-auto" [style.width]="isMobile ? '250px' : '325px'">
      <div class="mb-2">
        <h3 class="mb-3">General</h3>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Código</mat-label>
          <input matInput formControlName="codigo" placeholder="Ingrese un codigo" required />
          <mat-error *ngIf="form.get('codigo').hasError('required')">Código requerido</mat-error>
        </mat-form-field>
        <ng-container formGroupName="categoria">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="id" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.descripcion }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('categoria').get('id').hasError('required')">Escoja una categoría</mat-error>
          </mat-form-field>
        </ng-container>
        <ng-container formGroupName="marca">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Marca</mat-label>
            <mat-select formControlName="id" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let marca of marcas" [value]="marca.id">{{ marca.descripcion }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('marca').get('id').hasError('required')">Escoja una marca</mat-error>
          </mat-form-field>
        </ng-container>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Modelo</mat-label>
          <input matInput formControlName="modelo" placeholder="Ingrese un modelo" required />
          <mat-error *ngIf="form.get('modelo').hasError('required')">Modelo requerido</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Año</mat-label>
          <input matInput formControlName="epoca" placeholder="Ingrese un año" />
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Cantidad</mat-label>
          <input matInput formControlName="stock" placeholder="Ingrese una cantidad" required />
          <mat-error *ngIf="form.get('stock').hasError('required')">Cantidad requerida</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Precio de Venta</mat-label>
          <input matInput formControlName="precio" placeholder="Ingrese un precio" required />
          <mat-error *ngIf="form.get('precio').hasError('required')">Precio requerido</mat-error>
        </mat-form-field>
      </div>  
      <div class="mb-2">
        <h3 class="mb-3">Detalles del repuesto</h3>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="descripcion" placeholder="Ingrese una descripcion" 
            style="height: 160px;"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-around">
    <button mat-raised-button color="primary" mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary">Guardar</button>
  </mat-dialog-actions>
</form>