img {
  width: 120px;
}
.row { 
  margin-top: 20px; 
  margin-bottom: 10px; 
}
.tag {
  height: 100px;
}
.no-error {
  margin-bottom: -1.25em;
  width: 100%;
}
.table-container { 
  max-height: 475px; 
  height: 475px; 
}
tr.element-row:not(.expanded-row):hover { 
  background: whitesmoke; 
}
tr.element-row:not(.expanded-row):active { 
  background: #efefef; 
}
.h-descripcion{
  height: 98px;
}