h1 { 
    font-family: 'Trocchi';
}
.headers-align .mat-expansion-panel-header-title, .headers-align .mat-expansion-panel-header-description { 
    flex-basis: 0; 
}
.headers-align .mat-expansion-panel-header-description { 
    justify-content: space-between; 
    align-items: center; 
}
.headers-align .mat-form-field + .mat-form-field { 
    margin-left: 10px; 
}
.headers-align .mat-expansion-panel-header-title {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.mt-flex { 
    margin-top: 15px; 
}