<form [formGroup]="form" (ngSubmit)="guardar()" autocomplete="off">
  <div mat-dialog-title class="shadow p-3 d-flex justify-content-around">
    <button mat-icon-button mat-dialog-close type="button"><mat-icon>highlight_off</mat-icon></button>
    <h1 class="mt-flex">FILTROS</h1>
    <button mat-icon-button color="primary" type="submit"><mat-icon>save</mat-icon></button>
  </div>
  <mat-dialog-content class="mat-typography pt-1 pb-1">
    <div formArrayName="filtros" class="headers-align">
      <div *ngFor="let filtro of filtros.controls; let i=index" >
        <ng-container [formGroupName]="i">
          <div class="container">
            <div class="col-12"><h3 class="blue">{{ filtro.get('nombre').value }}</h3></div>
            <div class="row align-items-center">
              <div class="col-3">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Condición</mat-label>
                  <mat-select formControlName="operador" (selectionChange)="clearCriterios(filtro, $event.value)">
                    <ng-container *ngIf="filtro.get('tipo').value == 'text'">
                      <mat-option value="contiene">Contiene</mat-option>
                      <mat-option value="!=">No contiene</mat-option>
                    </ng-container>
                    <mat-option value="between">Rango</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-9">
                <mat-form-field *ngIf="filtro.get('operador').value != 'between'; else elseBlock" class="w-100" appearance="outline">
                  <mat-label>Ingrese los criterios de búsqueda</mat-label>
                  <mat-chip-list formArrayName="criterios" #chipList>
                    <mat-chip *ngFor="let criterio of criterios(filtro).controls; let i=index" [removable]="true" (removed)="removeCriterio(filtro, i)">
                      {{ criterio.value }}<mat-icon matChipRemove>cancel</mat-icon></mat-chip>
                    <input #input [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      (matChipInputTokenEnd)="addCriterio(filtro, $event)" (keyup)="filter($event.target.value, i)" placeholder="Ingrese los criterios" />
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected(filtro, $event); input.value=''">
                      <mat-option *ngFor="let valor of data[i]">{{ valor }}</mat-option>
                    </mat-autocomplete>
                  </mat-chip-list>
                </mat-form-field>
                <ng-template #elseBlock>
                  <mat-form-field *ngIf="filtro.get('tipo').value == 'date'; else elseBlock" class="w-100" appearance="outline">
                    <mat-label>Ingrese un rango de fechas</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input formControlName="criterio1" matStartDate placeholder="Fecha Inicio">
                      <input formControlName="criterio2" matEndDate placeholder="Fecha Fin">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
                  <ng-template #elseBlock>
                    <div class="row">
                      <div class="col-6">
                        <mat-form-field class="w-100" appearance="outline">
                          <mat-label>De</mat-label>
                          <input matInput formControlName="criterio1" [type]="filtro.get('tipo').value" />
                        </mat-form-field>
                      </div>
                      <div class="col-6">
                        <mat-form-field class="w-100" appearance="outline">
                          <mat-label>Hasta</mat-label>
                          <input matInput formControlName="criterio2" [type]="filtro.get('tipo').value" />
                        </mat-form-field>
                      </div>
                    </div>      
                  </ng-template>
                </ng-template>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </mat-dialog-content>
</form>