<div class="sidebar-panel">
  <div class="sidebar-header">
    <h3>{{ service.nombres }}</h3>
    <h4>{{ service.nombreUsuario }}</h4>
  </div>
  <mat-list role="list">
    <div mat-subheader>Inicio</div>
    <mat-list-item (click)="principal()" class="cursor-point">
      <mat-icon mat-list-icon>home</mat-icon>
      <div mat-line>Menú principal</div>
    </mat-list-item>
    <mat-list-item (click)="navigate('/principal/cuenta')" class="cursor-point">
      <mat-icon mat-list-icon>account_circle</mat-icon>
      <div mat-line>Perfil de usuario</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Compras</div>
    <mat-list-item (click)="navigate('/principal/compras')" class="cursor-point">
      <mat-icon mat-list-icon>shopping_cart</mat-icon>
      <div mat-line>Compras</div>
    </mat-list-item>
    <mat-list-item (click)="navigate('/principal/compras/compra')" class="cursor-point">
      <mat-icon mat-list-icon>add_circle</mat-icon>
      <div mat-line>Nueva Compra</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Inventario</div>
    <mat-list-item (click)="navigate('/principal/categorias')" class="cursor-point">
      <mat-icon mat-list-icon>category</mat-icon>
      <div mat-line>Categorías</div>
    </mat-list-item>
    <mat-list-item (click)="navigate('/principal/marcas')" class="cursor-point">
      <mat-icon mat-list-icon>local_offer</mat-icon>
      <div mat-line>Marcas</div>
    </mat-list-item>
    <mat-list-item (click)="navigate('/principal/repuestos')" class="cursor-point">
      <mat-icon mat-list-icon>directions_car</mat-icon>
      <div mat-line>Repuestos</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Mantenimiento</div>
    <mat-list-item (click)="navigate('/principal/clientes')" class="cursor-point">
      <mat-icon mat-list-icon>people</mat-icon>
      <div mat-line>Clientes</div>
    </mat-list-item>
    <mat-list-item (click)="navigate('/principal/proveedores')" class="cursor-point">
      <mat-icon mat-list-icon>local_shipping</mat-icon>
      <div mat-line>Proveedores</div>
    </mat-list-item>
    <mat-list-item (click)="navigate('/principal/roles')" class="cursor-point">
      <mat-icon mat-list-icon>manage_accounts</mat-icon>
      <div mat-line>Roles</div>
    </mat-list-item>
    <mat-list-item (click)="navigate('/principal/usuarios')" class="cursor-point">
      <mat-icon mat-list-icon>people</mat-icon>
      <div mat-line>Usuarios</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Ventas</div>
    <mat-list-item (click)="navigate('/principal/ventas')" class="cursor-point">
      <mat-icon mat-list-icon>point_of_sale</mat-icon>
      <div mat-line>Ventas</div>
    </mat-list-item>
    <mat-list-item (click)="navigate('/principal/ventas/venta')" class="cursor-point">
      <mat-icon mat-list-icon>add_circle</mat-icon>
      <div mat-line>Nueva Venta</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item (click)="logout()" class="cursor-point mt-2">
      <mat-icon mat-list-icon>logout</mat-icon>
      <div mat-line>Cerrar sesión</div>
    </mat-list-item>
  </mat-list>
</div>