<mat-spinner *ngIf="isLoading; else elseBlock" color="accent" mode="indeterminate" class="m0-auto"></mat-spinner>
<ng-template #elseBlock>
  <h2 mat-dialog-title class="text-center blue">Reporte del repuesto con código {{ data.codigo }}</h2>
  <mat-dialog-content class="mat-typography">
    <div class="mat-elevation-z4 m-3 p-3">
      <div *ngIf="!repuesto || (repuesto.compraDetalle.length == 0 && repuesto.ventaDetalle.length == 0); else elseBlock">
        <b>No existe reporte para este repuesto</b>
      </div>
      <ng-template #elseBlock>
        <div *ngIf="repuesto.compraDetalle.length > 0">
          <h3>Este repuesto aparece en las siguientes compras:</h3>
          <table class="table table-hover">
            <thead class="bg-blue">
              <tr>
                <td>Fecha</td>
                <td>Cantidad</td>
                <td>Documento</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detalle of repuesto.compraDetalle">
                <td>{{ sharedService.parseDate(detalle.compra.fecha) }}</td>
                <td>{{ detalle.cantidad }}</td>
                <td>{{ detalle.compra.tipoDocumento + '# ' + detalle.compra.numero }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="repuesto.ventaDetalle.length > 0" class="mt-4">
          <h3>Este repuesto aparece en las siguientes ventas:</h3>
          <table class="table table-hover">
            <thead class="bg-blue">
              <tr>
                <td>Fecha</td>
                <td>Cantidad</td>
                <td>Dirección</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detalle of repuesto.ventaDetalle">
                <td>{{ sharedService.parseDate(detalle.venta.fecha) }}</td>
                <td>{{ detalle.cantidad }}</td>
                <td>{{ detalle.venta.direccion }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions class="ml">
    <button mat-raised-button mat-dialog-close>Cerrar</button>
  </div>
</ng-template>