<form *ngIf="form" [formGroup]="form" (ngSubmit)="guardar()">
  <h2 mat-dialog-title class="text-center blue">{{ !proveedor ? 'Nuevo Proveedor' : 'Modificar Proveedor' }}</h2>
  <mat-dialog-content class="mat-typography">
    <div class="m0-auto" [style.width]="isMobile ? '250px' : '325px'">
      <fieldset class="mb-2">
        <legend class="mb-3 blue">General</legend>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Descripción</mat-label>
          <input matInput formControlName="descripcion" placeholder="Ingrese una descripcion" type="text" required />
          <mat-icon matSuffix>business</mat-icon>
          <mat-error *ngIf="form.get('descripcion').hasError('required')">Descripción requerida</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefono" placeholder="Ingrese un teléfono" type="text" />
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="direccion" placeholder="Ingrese una dirección" type="text" />
          <mat-icon matSuffix>location_on</mat-icon>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Tipo de proveedor</mat-label>
          <input matInput formControlName="tipoProveedor" placeholder="Ingrese un tipo de proveedor" type="text" />
          <mat-icon matSuffix>description</mat-icon>
        </mat-form-field>
        <div class="w-100 mb-4 d-flex">
          <mat-slide-toggle formControlName="convenio" class="ml-auto">Tiene convenio</mat-slide-toggle>
        </div>
      </fieldset>
      <fieldset class="mt-3 mb-2">
        <legend class="mb-3 blue">Información de contacto</legend>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Contacto</mat-label>
          <input matInput formControlName="contacto" placeholder="Ingrese un contacto" type="text" />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Teléfono del contacto</mat-label>
          <input matInput formControlName="telefonoContacto" placeholder="Ingrese un teléfono del contacto" type="text" />
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Correo del contacto</mat-label>
          <input matInput formControlName="correoContacto" placeholder="Ingrese un correo del contacto" type="email" />
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
      </fieldset>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-around">
    <button mat-raised-button mat-dialog-close type="button">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </mat-dialog-actions>
</form>