<div>
  <h2 mat-dialog-title class="text-center blue">{{ !proveedor ? 'Nuevo Proveedor' : 'Modificar Proveedor' }}</h2>
  <mat-dialog-content class="mat-typography">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="guardar()" class="m0-auto" [style.width]="isMobile ? '250px' : '325px'">
      <div class="mb-2">
        <h3 class="mb-3">General</h3>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Descripción</mat-label>
          <input matInput formControlName="descripcion" placeholder="Ingrese una descripcion" required />
          <mat-error *ngIf="form.get('descripcion').hasError('required')">Descripción requerida</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Convenio</mat-label>
          <input matInput formControlName="convenio" placeholder="Ingrese un convenio" />
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefono" placeholder="Ingrese un teléfono" />
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="direccion" placeholder="Ingrese una dirección" />
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Tipo de proveedor</mat-label>
          <input matInput formControlName="tipoProveedor" placeholder="Ingrese un tipo de proveedor" />
        </mat-form-field>
      </div>
      <div class="mb-2">
        <h3 class="mb-3">Información de contacto</h3>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Contacto</mat-label>
          <input matInput formControlName="contacto" placeholder="Ingrese un contacto" />
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Teléfono contacto</mat-label>
          <input matInput formControlName="telefonoContacto" placeholder="Ingrese un teléfono del contacto" />
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Correo contacto</mat-label>
          <input matInput formControlName="correoContacto" placeholder="Ingrese un correo del contacto" />
        </mat-form-field>
      </div>
      <div class="d-flex mt-5 w-100">
        <button mat-raised-button color="primary" [mat-dialog-close]="form.valid">Cancelar</button>
        <button mat-raised-button color="primary" class="ml-auto">Guardar</button>
      </div>
    </form>
  </mat-dialog-content>
</div>