html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
button { 
    outline: none !important; 
}
a { 
    text-decoration: none !important; 
}
dt, dd {
    float: left;
    width: 50%;
}
dd {
    overflow-wrap: break-word;
}
legend { 
    font-size: 18px; 
}
tr.mat-footer-row {
    font-weight: bold;
}
.ml-auto { 
    margin-left: auto !important; 
}
.margin > * { 
    margin-left: 2px; margin-right: 2px; 
}
.bold, .text-error { 
    font-weight: bold; 
}
.not-hover:hover * { 
    color: rgb(203, 217, 236); 
}
.text-error {
    color: #980000;
    font-size: 15px;
}
.mat-elevation-z8 { 
    overflow: auto; 
}
.mat-header-cell, .bg-blue { 
    background-color: #3f51b5; 
}
.mat-sort-header-arrow, .mat-header-cell, thead tr { 
    color: white; 
}
.element:hover { 
    background: whitesmoke;
}
.d-flex { 
    align-items: center; 
}
.m0-auto { 
    margin: 0 auto; 
}
.cursor-point { 
    cursor: pointer; 
}
.success .mat-simple-snackbar-action, .blue  { 
    color: #3f51b5 
}
.warning .mat-simple-snackbar-action {
    color: yellow;
}
.shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 12px;
}