html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
button { 
    outline: none !important; 
}
a { 
    text-decoration: none !important; 
}
dt, dd {
    display: inline-block;
    vertical-align: text-top;
}
dt {
    width: 30%;
    word-wrap: break-word;
}
dd {
    width: 70%;
    overflow-wrap: break-word;
}
legend { 
    font-size: 18px; 
}
tr.mat-footer-row, .bold, .text-error {
    font-weight: bold;
}
.ml-auto { 
    margin-left: auto !important; 
}
.not-hover:hover * { 
    color: rgb(203, 217, 236); 
}
.text-error {
    color: #980000;
    font-size: 15px;
}
.mat-elevation-z8 { 
    overflow: auto; 
}
.mat-header-cell, .bg-blue { 
    background-color: #3f51b5; 
}
.mat-sort-header-arrow, .mat-header-cell, thead tr { 
    color: white; 
}
.element:hover { 
    background: whitesmoke;
}
.d-flex { 
    align-items: center; 
}
.m0-auto { 
    margin: 0 auto; 
}
.cursor-point { 
    cursor: pointer; 
}
.success .mat-simple-snackbar-action, .blue  { 
    color: #3f51b5 
}
.warning .mat-simple-snackbar-action {
    color: #ffc107;
}
.pshadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
dl.pshadow {
    border-radius: 8px;
}