<table *ngIf="printBusqueda" class="w-100">
  <thead><tr><th>
    <div class="pt-2 pb-2">
      <div *ngIf="printBusqueda.isHeader" class="d-flex w-100 p-2 header">
        <div>
          <div *ngIf="filtros.length > 0">
            <h2 class="bold">{{ filtros.length > 1 ? 'Filtros' : 'Filtro' }}</h2>
            <ul *ngIf="printBusqueda.busqueda.operador == '&&'; else elseBlock" class="list-unstyled">
              <li *ngFor="let filtro of filtros">
                <span class="bold">{{ filtro.id + ': ' }}</span>
                <span *ngIf="filtro.condicion == 'nocontiene' || filtro.condicion == 'nobetween'">[No contiene]&nbsp;</span>
                <span *ngIf="filtro.condicion == 'between' || filtro.condicion == 'nobetween'; else elseBlock">
                  {{ 'De ' + filtro.criterio1 + ' a ' + filtro.criterio2 }}</span>
                <ng-template #elseBlock>
                  <span class="capitalize">{{ parseArray(filtro.criterios) }}</span>
                </ng-template>
              </li>
            </ul>
            <ng-template #elseBlock>
              <div>Repuestos que contienen:&nbsp;<span>{{ filtros[0].criterios[0] }}</span></div>
            </ng-template>
          </div>
          <div>{{ 'Cantidad: ' + printBusqueda.busqueda.cantidad + ', Total stock: ' + stock + ', Total: ' + (total | currency) }}</div>
        </div>
        <div class="ml-auto"><img src="assets/logo.png" /></div>
      </div>
    </div>
  </th></tr></thead>
  <tbody><tr><td>
    <div class="p-2">
      <ng-container *ngFor="let repuesto of repuestos; let i=index">
        <div class="d-flex w-100" [class.spacer]="!printBusqueda.isDescription">
          <span>{{ (i + 1) + ') ' + repuesto.codigo + ' "' + repuesto.modelo + '".-' }}</span>
          <span class="text-print">&nbsp;{{ repuesto.categoria.descripcion + ' ' + repuesto.marca.descripcion }}</span>
          <span class="ml-auto">&nbsp;{{ 'Stock: ' + repuesto.stock }}</span>
          <span *ngIf="printBusqueda.isPrice">&nbsp;{{ 'Precio: ' + repuesto.precio }}</span>
        </div>
        <div *ngIf="printBusqueda.isDescription" class="fs-10 spacer">
          <span>{{ repuesto.descripcion }}</span>
          <span *ngIf="repuesto?.subMarca">&nbsp;{{ '{' + repuesto.subMarca + '}' }}</span>
        </div>
      </ng-container>
    </div>
  </td></tr></tbody>
</table>