<div class="mb-3">
  <h2 class="bold">Filtro(s)</h2>
  <ul class="list-unstyled shadow p-3">
    <li *ngFor="let filtro of busqueda.filtros">
      <span class="bold">{{ filtro.id + ' ' }}</span>
      <span *ngIf="filtro.operador != 'between' && filtro.operador != 'multiple'">{{ filtro.criterio1 }}</span>
      <span *ngIf="filtro.operador == 'between'">{{ filtro.criterio1 + ' ' + filtro.criterio2 }}</span>
      <span *ngIf="filtro.operador == 'multiple'">
        <ng-container *ngFor="let criterio of filtro.criterios">{{ criterio + ' ' }}</ng-container>
      </span>
    </li>
  </ul>
  <div>{{ 'Cantidad: ' + busqueda.cantidad }}</div>
</div>
<div class="container">
  <div class="row bold">
    <div class="col-2">Código</div>
    <div class="col-2">Categoría</div>
    <div class="col-2">Marca</div>
    <div class="col-2">Modelo</div>
    <div class="col-2">Ano</div>
    <div class="col-1">Stock</div>
    <div class="col-1">Precio</div>
  </div>
  <div *ngFor="let repuesto of repuestos" class="row">
    <div class="col-2">{{ repuesto.codigo }}</div>
    <div class="col-2">{{ repuesto.categoria.descripcion }}</div>
    <div class="col-2">{{ repuesto.marca.descripcion }}</div>
    <div class="col-2">{{ repuesto.modelo }}</div>
    <div class="col-2">{{ repuesto.fecha }}</div>
    <div class="col-1">{{ repuesto.stock }}</div>
    <div class="col-1">{{ repuesto.precio }}</div>
    <div class="col-12 spacer">{{ repuesto.descripcion }}</div>
    <div class="page-break">&nbsp;</div>
  </div>
</div>