div img {
  width: 100px;
}
table {
  page-break-after: always;
}
thead { 
  display: table-header-group;
}
.spacer { 
  border-bottom: 1px solid lightgray; 
}
@media screen {
  :host {
    display: none;
  }
}