.print-container { 
  margin: 0; 
  height: 100%; 
  overflow: hidden 
}
.page-break, .spacer { 
  page-break-after: always; 
}
.spacer { 
  border-bottom: 1px solid lightgray; 
}
@media screen {
  :host {
    display: none;
  }
}