div img {
  width: 100px;
}
.header{
  border:1px solid silver; 
  border-radius: 10px;
}
.codigo {
  color: slateblue;
}
.capitalize {
  text-transform: capitalize;
}
.spacer { 
  border-bottom: 1px solid lightgray; 
}
@media screen {
  :host {
    display: none;
  }
}