<form [formGroup]="form" (ngSubmit)="crear()" autocomplete="off">
  <h2 mat-dialog-title class="text-center blue">Crear cuenta</h2>
  <mat-dialog-content class="mat-typography">
    <div class="cuenta-screen m0-auto" [style.width]="isMobile ? '250px' : '325px'">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Nombres</mat-label>
        <mat-icon matSuffix>person</mat-icon>
        <input matInput formControlName="nombres" placeholder="Ingrese nombres" type="text" required />
        <mat-error *ngIf="form.get('nombres').hasError('required')">Nombres son requeridos</mat-error>
        <mat-error *ngIf="form.get('nombres').hasError('maxlength')">Logitud máxima es de 50 caracteres</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Cedula</mat-label>
        <input matInput formControlName="cedula" #cedula maxlength="10" placeholder="Ingrese cedula" type="text" required />
        <mat-icon matSuffix>badge</mat-icon>
          <mat-hint align="end">{{ cedula.value?.length }} / 10</mat-hint>
        <mat-error *ngIf="form.get('cedula').hasError('required')">Cedula es requerida</mat-error>
        <mat-error *ngIf="form.get('cedula').hasError('pattern')">Cedula debe tener 10 dígitos</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion" placeholder="Ingrese dirección" type="text" required />
        <mat-icon matSuffix>location_on</mat-icon>
        <mat-error *ngIf="form.get('direccion').hasError('required')">Dirección es requerida</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono" placeholder="Ingrese teléfono" type="text" required />
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error *ngIf="form.get('telefono').hasError('required')">Teléfono es requerido</mat-error>
        <mat-error *ngIf="form.get('telefono').hasError('maxlength')">Logitud máxima es de 25 caracteres</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Celular</mat-label>
        <input matInput formControlName="celular" placeholder="Ingrese celular" type="text" required />
        <mat-icon matSuffix>smartphone</mat-icon>
        <mat-error *ngIf="form.get('celular').hasError('required')">Celular es requerido</mat-error>
        <mat-error *ngIf="form.get('celular').hasError('maxlength')">Logitud máxima es de 25 caracteres</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput formControlName="fechaNacimiento" [matDatepicker]="picker" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('fechaNacimiento').hasError('required')">Fecha de nacimiento es requerida</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="correo" placeholder="Ingrese correo" type="email" required />
        <mat-icon matSuffix>mail</mat-icon>
        <mat-error *ngIf="form.get('correo').hasError('required')">Correo es requerido</mat-error>
        <mat-error *ngIf="form.get('correo').hasError('pattern')">Ingrese una dirección de correo válida</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="nombreUsuario" placeholder="Ingrese usuario" type="text" required autocapitalize="none" />
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="form.get('nombreUsuario').hasError('required')">Usuario es requerido</mat-error>
        <mat-error *ngIf="form.get('nombreUsuario').hasError('maxlength')">Logitud máxima es de 25 caracteres</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="clave" [type]="hide ? 'password' : 'text'" placeholder="Ingrese contraseña" required autocomplete="new-password"/>
        <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('clave').hasError('required')">Contraseña es requerida</mat-error>
        <mat-error *ngIf="form.get('clave').hasError('pattern')">Ingrese una combinación de al menos 8 letras, números y caracteres especiales (!@#$%^&*)</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-around">
    <button mat-raised-button mat-dialog-close type="button">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">Crear</button>
  </mat-dialog-actions>
</form>